


NET "led[15]" LOC = P2;
NET "led[13]" LOC = U1;
NET "led[12]" LOC = P5;
NET "led[11]" LOC = R1;
NET "led[10]" LOC = V1;
NET "led[9]" LOC = U3;
NET "led[8]" LOC = V4;
NET "led[7]" LOC = U6;
NET "led[6]" LOC = U7;
NET "led[5]" LOC = T4;
NET "led[4]" LOC = T5;
NET "led[3]" LOC = T6;
NET "led[2]" LOC = R8;
NET "led[1]" LOC = V9;
NET "led[0]" LOC = T8;
NET "alarm_en_out" LOC = F3;
NET "BREATH_LED_EN" LOC = G4;
NET "SIGTAP_OUT" LOC = H2;
NET "Alarm_out" LOC = G3;
NET "DHT11_TXD" LOC = G1;
NET "WIFI_TXD_OUT" LOC = H1;
NET "WIFI_RXD_OUT" LOC = B13;
NET "WIFI_RXD_IN" LOC = H4;
NET "WIFI_TXD_IN" LOC = F14;
NET "DHT11_DATA" LOC = D17;
NET "FAN_EN" LOC = G2;
NET "FAN_OUT" LOC = C17;
NET "SIGTAP_IN" LOC = G13;
NET "Alarm_in" LOC = E17;
NET "alarm_key_in" LOC = U9;


NET "CLOCK" LOC = E3;


NET "CLOCK" IOSTANDARD = LVCMOS33;


NET "led[15]" DRIVE = 12;
NET "led[14]" DRIVE = 12;
NET "led[13]" DRIVE = 12;
NET "led[12]" DRIVE = 12;
NET "led[11]" DRIVE = 12;
NET "led[10]" DRIVE = 12;
NET "led[9]" DRIVE = 12;
NET "led[8]" DRIVE = 12;
NET "led[7]" DRIVE = 12;
NET "led[6]" DRIVE = 12;
NET "led[5]" DRIVE = 12;
NET "led[4]" DRIVE = 12;
NET "led[3]" DRIVE = 12;
NET "led[2]" DRIVE = 12;
NET "led[1]" DRIVE = 12;
NET "led[0]" DRIVE = 12;
NET "led[15]" SLEW = SLOW;
NET "led[14]" SLEW = SLOW;
NET "led[13]" SLEW = SLOW;
NET "led[12]" SLEW = SLOW;
NET "led[11]" SLEW = SLOW;
NET "led[10]" SLEW = SLOW;
NET "led[9]" SLEW = SLOW;
NET "led[8]" SLEW = SLOW;
NET "led[7]" SLEW = SLOW;
NET "led[6]" SLEW = SLOW;
NET "led[5]" SLEW = SLOW;
NET "led[4]" SLEW = SLOW;
NET "led[3]" SLEW = SLOW;
NET "led[2]" SLEW = SLOW;
NET "led[1]" SLEW = SLOW;
NET "led[0]" SLEW = SLOW;
NET "led[15]" IOSTANDARD = LVCMOS33;
NET "led[14]" IOSTANDARD = LVCMOS33;
NET "led[13]" IOSTANDARD = LVCMOS33;
NET "led[12]" IOSTANDARD = LVCMOS33;
NET "led[11]" IOSTANDARD = LVCMOS33;
NET "led[10]" IOSTANDARD = LVCMOS33;
NET "led[9]" IOSTANDARD = LVCMOS33;
NET "led[8]" IOSTANDARD = LVCMOS33;
NET "led[7]" IOSTANDARD = LVCMOS33;
NET "led[6]" IOSTANDARD = LVCMOS33;
NET "led[5]" IOSTANDARD = LVCMOS33;
NET "led[4]" IOSTANDARD = LVCMOS33;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[0]" IOSTANDARD = LVCMOS33;


NET "led[14]" LOC = R2;


NET "alarm_en_out" IOSTANDARD = LVCMOS33;
NET "Alarm_in" IOSTANDARD = LVCMOS33;
NET "alarm_key_in" IOSTANDARD = LVCMOS33;
NET "Alarm_out" IOSTANDARD = LVCMOS33;
NET "BREATH_LED_EN" IOSTANDARD = LVCMOS33;
NET "DHT11_DATA" IOSTANDARD = LVCMOS33;
NET "DHT11_TXD" IOSTANDARD = LVCMOS33;
NET "FAN_EN" IOSTANDARD = LVCMOS33;
NET "FAN_OUT" IOSTANDARD = LVCMOS33;
NET "SIGTAP_IN" IOSTANDARD = LVCMOS33;
NET "SIGTAP_OUT" IOSTANDARD = LVCMOS33;
NET "WIFI_RXD_IN" IOSTANDARD = LVCMOS33;
NET "WIFI_RXD_OUT" IOSTANDARD = LVCMOS33;
NET "WIFI_TXD_IN" IOSTANDARD = LVCMOS33;
NET "WIFI_TXD_OUT" IOSTANDARD = LVCMOS33;
NET "alarm_en_out" DRIVE = 12;
NET "Alarm_in" DRIVE = 12;
NET "alarm_key_in" DRIVE = 12;
NET "Alarm_out" DRIVE = 12;
NET "BREATH_LED_EN" DRIVE = 12;
NET "CLOCK" DRIVE = 12;
NET "DHT11_DATA" DRIVE = 12;
NET "DHT11_TXD" DRIVE = 12;
NET "FAN_EN" DRIVE = 12;
NET "FAN_OUT" DRIVE = 12;
NET "SIGTAP_IN" DRIVE = 12;
NET "SIGTAP_OUT" DRIVE = 12;
NET "WIFI_RXD_IN" DRIVE = 12;
NET "WIFI_RXD_OUT" DRIVE = 12;
NET "WIFI_TXD_IN" DRIVE = 12;
NET "WIFI_TXD_OUT" DRIVE = 12;
NET "alarm_en_out" SLEW = SLOW;
NET "Alarm_in" SLEW = SLOW;
NET "alarm_key_in" SLEW = SLOW;
NET "Alarm_out" SLEW = SLOW;
NET "BREATH_LED_EN" SLEW = SLOW;
NET "CLOCK" SLEW = SLOW;
NET "DHT11_DATA" SLEW = SLOW;
NET "DHT11_TXD" SLEW = SLOW;
NET "FAN_EN" SLEW = SLOW;
NET "FAN_OUT" SLEW = SLOW;
NET "SIGTAP_IN" SLEW = SLOW;
NET "SIGTAP_OUT" SLEW = SLOW;
NET "WIFI_RXD_IN" SLEW = SLOW;
NET "WIFI_RXD_OUT" SLEW = SLOW;
NET "WIFI_TXD_IN" SLEW = SLOW;
NET "WIFI_TXD_OUT" SLEW = SLOW;

# PlanAhead Generated IO constraints 

NET "MP3_IN" IOSTANDARD = LVCMOS33;
NET "MP3_OUT" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "MP3_IN" LOC = K2;
NET "MP3_OUT" LOC = D18;
